# Emacs, vim etc
*~
*.swp

# Start of IntelliJ IDE files
.idea
.idea/*
*.iml
*.ipr
*.iws
# End of IntelliJ IDE files

/build/
*.class
*.pyc
*.pyo
target

# MacOS File
.DS_Store

# Start of Eclipse IDE files
.project
.classpath
.settings
.cproject
eclipse-classes
.pydevproject
# End of Eclipse IDE files

# The usual location for proton-c build files
proton-c/build

# Executables built by go binding tests
proton-c/bindings/go/bin

# Testresults from the jenkins build script
testresults

# Go binding build output
/proton-c/bindings/go/pkg
/proton-c/bindings/go/bin

# Python TOX test build output
/proton-c/bindings/python/MANIFEST
/proton-c/bindings/python/build

proton-j/proton-j.vpj
proton-j/proton-j.vpw
proton-j/proton-j.vpwhist
proton-j/proton-j.vtg
