os:
- linux
sudo: false
language:
- python
python:
- 2.7
addons:
  apt:
    packages:
    - cmake
    - libssl-dev
    - libsasl2-dev
    - sasl2-bin
    - swig
    - python-dev
    - valgrind
    - ruby
    - ruby-dev
    - python3-dev
    - php5
    - openjdk-7-jdk
install:
- pip install --upgrade pip
- pip install tox
- gem install rspec simplecov
- gem install minitest --version 4.7.0
before_script:
- export PATH=${HOME}/.local/bin:${PATH}
- mkdir Build
- cd Build
- cmake .. -DCMAKE_INSTALL_PREFIX=$PWD/install
script:
- cmake --build . --target install && ctest -V
